LXF259 - IoT Sensor.json
[{"id":"de1e2c9c.816f6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"60aa946b.ee329c","type":"mqtt in","z":"de1e2c9c.816f6","name":"Hive MQTT","topic":"LXF_Temp","qos":"2","datatype":"auto","broker":"f98ebc8b.7d519","x":280.5,"y":156,"wires":[["d7855ed2.487be"]]},{"id":"d7855ed2.487be","type":"debug","z":"de1e2c9c.816f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":647.5,"y":157,"wires":[]},{"id":"63041123.1aaa3","type":"mqtt out","z":"de1e2c9c.816f6","name":"","topic":"LXF_Temp","qos":"","retain":"","broker":"f98ebc8b.7d519","x":805.5,"y":427,"wires":[]},{"id":"f9dc0f1f.b6934","type":"rpi-dht22","z":"de1e2c9c.816f6","name":"DHT22","topic":"rpi-dht22","dht":"22","pintype":"0","pin":4,"x":604.5,"y":319,"wires":[["f4e4468a.461c28","63041123.1aaa3"]]},{"id":"7a69fa64.bacb84","type":"String","z":"de1e2c9c.816f6","name":"","display":"2c4eba10.ed6726","x":1204.5,"y":268,"wires":[]},{"id":"48135a0.f8b6aa8","type":"inject","z":"de1e2c9c.816f6","name":"Temp every 10s","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":299.5,"y":320,"wires":[["f9dc0f1f.b6934","635699d6.8a2538"]]},{"id":"91746a10.9c1d78","type":"template","z":"de1e2c9c.816f6","name":"Cosy!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cosy Temp {{payload}} C","output":"str","x":1041.5,"y":268,"wires":[["7a69fa64.bacb84"]]},{"id":"f4e4468a.461c28","type":"switch","z":"de1e2c9c.816f6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"},{"t":"lt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":781.5,"y":320,"wires":[["91746a10.9c1d78"],["cf4b6d5d.197ae"],["a5499b70.f238d8"]]},{"id":"cf4b6d5d.197ae","type":"template","z":"de1e2c9c.816f6","name":"Hot!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hot! {{payload}} C","output":"str","x":1045.5,"y":323,"wires":[["7cf8687.fabe898"]]},{"id":"7cf8687.fabe898","type":"String","z":"de1e2c9c.816f6","name":"","display":"2c4eba10.ed6726","x":1208.5,"y":323,"wires":[]},{"id":"a5499b70.f238d8","type":"template","z":"de1e2c9c.816f6","name":"Cold!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Cold! {{payload}} C","output":"str","x":1043.5,"y":382,"wires":[["4898de80.59b5f"]]},{"id":"4898de80.59b5f","type":"String","z":"de1e2c9c.816f6","name":"","display":"2c4eba10.ed6726","x":1210.5,"y":382,"wires":[]},{"id":"635699d6.8a2538","type":"Turn-on","z":"de1e2c9c.816f6","name":"","display":"2c4eba10.ed6726","x":494.5,"y":249,"wires":[]},{"id":"f98ebc8b.7d519","type":"mqtt-broker","z":"","name":"Hive MQTT","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2c4eba10.ed6726","type":"oled-config","z":"","name":"OLED","width":"128","height":"64","address":"0x3c"}]